# Copia este archivo como ".env" y rellena tus datos reales.
# El archivo ".env" NUNCA debe subirse a GitHub (ya está en .gitignore).

DISCORD_TOKEN=MTUxOTAyMzUxMDk4MTE4NTc5Ng.GKk1_7.Is90YUo85UudIwDwpng8EygDE6mrgBRYYQn4PM
CLIENT_ID=1519023510981185796
